<%= form_with(model: card_product, local: true) do |form| %>
  <% if card_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card_product.errors.count, "error") %> prohibited this card_product from being saved:</h2>

      <ul>
      <% card_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.text_field :name, class: "form-control ", placeholder: 'Name of Card Product'%>
    <%= form.text_field :start_date, class: "form-control ", placeholder: 'ex: 2017-10-05'%>
    <%= form.check_box :active, class: "form-control ", label: 'Active?'%>
    <%= form.submit %>

  </div>
<% end %>
