<%= form_with(model: funding_source, local: true) do |form| %>
  <% if funding_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(funding_source.errors.count, "error") %> prohibited this funding_source from being saved:</h2>

      <ul>
      <% funding_source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.text_field :name, class: "form-control ", placeholder: 'Name of Funding Source'%><br><br>
    <label>Active?</label>
    <%= form.check_box :active, class: "form-control "%><br>
    <%= form.submit %>
  </div>
<% end %>
