<!DOCTYPE html>
<html>
  <head>
    <title>MarqetaDemoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'USERS','/users'%>
    <br>
    <%= link_to 'CARD PRODUCTS','/card_products'%>
    <br>
    <%= link_to 'CARDS','/cards'%>
    <br>
    <%= link_to 'FUNDING SOURCES', '/funding_sources'%>
    <br>
    <%= link_to 'FUND A USERS ACCOUNT','/fundings'%>
    <br><br>
    <% if flash[:notice] %>
    <div><%=flash[:notice]%></div>
    <% end %>
    <%= yield %>
  </body>
</html>
